/* Write your SCSS here for your application
 Install the Live Sass Compiler (Ritwick Dey) V. 3.0.0
 Click on 'Watch Sass' button on toolbar below
 main.scss will get compiled into main.css (don't modify this file yourself)
 */

 $blue: #131db2;

 @mixin blueBck_whiteTxt(){
    background-color:  $blue;
    color: white;
 }
 @mixin whiteBck_blackTxt(){
    background-color:  white;
    color: black;
 }
 @mixin blackBck_whiteTxt(){
    background-color:  black;
    color: white;
 }

 #logo{
    animation-name: animateNavLogo;
    animation-duration: 2s;
  }
  .navbar{
    /*background-image: url("pictures/navImg.png");*/
    /*background-color: black;*/
    background: linear-gradient(90deg, rgba(0,0,0,1) 0%, rgba(14,0,0,1) 67%, rgba(19,29,178,1) 100%);
  }
  .nav-content{
    display: flex;
    width:50%;
  }
  #navButton1, #navButton2 {
    color: $blue;
    animation-name: animateNavButton;
    animation-duration: 2s;
  }
  #navButton1.active, #navButton2.active {
    @include blueBck_whiteTxt;
  }
  #navButton1.active:hover, #navButton2.active:hover{
    color: $blue;
  }
  #navButton1:hover, #navButton2:hover{
    @include whiteBck_blackTxt;
    border-color:black;
  }
  .league-name{
                  
    color: white;
    text-align: end;
    padding: 20px;
    width:50%;
  }
  .alert-warning {
    color: white;
    background-color: #eece60;
    border-color: #b28e13;
  }
  
  body{
    background-color: lightgrey;
    color: black;
    padding-top: 90px;
  }
  .mainContent, .aside{
    @include whiteBck_blackTxt;
    border-radius: 15px;
  }
  
  
  
  .btn-primary{
    @include blueBck_whiteTxt;
    border-color: white;
  }
//   .btn-primary:active,
//   .btn-primary:focus,
//   .btn-primary:hover{
//     background-color: #e7e8f7;
//     color: black;
//     border-color:black;
//   }

  .btn-primary:active,
  .btn-primary:focus,
  .btn-primary:hover{
    @include whiteBck_blackTxt;
    border-color:black;
  }
  .modal-header {
    border-bottom: 0 none;
  }
  .modal-footer {
    border-top: 0 none;
  }
  .hidden{
    display:none;
  }
  .text-img:hover{
    color:black;
    display:block;
  }
  .bg-img{
    background-image:url("../images/laxGoal.jpg");
    
    height:auto;
    opacity: 0.8;
    color:black;
  }
  .rules{
    @include whiteBck_blackTxt;
  }
  th[data-name="numPlayers"], th[data-name="actions"]{
    text-align: center;
  }
  td:nth-child(4),td:nth-child(5) {
    text-align:center;
  }
  .table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    @include blackBck_whiteTxt;
  }
  .bg-blue {
    background-color: $blue !important;
  }
  footer{
    background-image: url("../images/footer_img.png");
    @include blackBck_whiteTxt;
  }
  
  
  
  
  #homeAnimate{
    animation-name: animateHomeLogo;
    animation-duration: 2s;
  }
  @keyframes animateHomeLogo{
    0% { opacity: 0;}
    50% {opacity: 0;}
  }
  @keyframes animateNavLogo{
    0% {width: 200%; height: 200%; color: transparent;}
    25% {width: 200%; height: 200%; color: transparent;}
  }
  @keyframes animateNavButton{
    0% {visibility: hidden;}
    100% {visibility: hidden;}
  }
  
  /*max width go bigger to smaller*/
  @media only screen and (max-width:1700px){
    .top-footer-icon{
      text-align: end;
    }
  }
  
  @media only screen and (max-width: 1200px) {
    .center-col{
      justify-content: center;
    }
    footer{
      text-align: center;
    }
    .top-footer-icon{
      text-align: center;
    }
  }