<div id="homePage" class="tab-pane active col-12">
  <main class="container-fluid">
    <div class="row g-4 py-3">
      <div class="col-xl-3 col-xs-12">
        <div class="row g-3">
          <div class="col-xl-12 col-md-6 col-sm-6">
            <div
              class="aside p-2 shadow-lg bg-black bg-gradient bg-opacity-75 text-white"
            >
              <h3>UPCOMING EVENTS</h3>
              <ul>
                <li>The Arlington Major Champions</li>
                <small>Augest 15 2022</small>
                <p class="mb-1">
                  After two weeks of furious competition from the best teams in
                  the world, Team Spirit have outlasted all challengers to claim
                  the title of Arlington Major Champions
                </p>
              </ul>
              <ul>
                <li>Tickets for the International</li>
                <small>Augest 11 2022</small>
                <p class="mb-1">
                  As the Arlington Major approaches its conclusion, more and
                  more teams have now officially qualified to The International
                  in Singapore this October.
                </p>
              </ul>
            </div>
          </div>
          <div class="col-xl-12 col-md-6 col-sm-6">
            <div class="aside p-2 bg-img">
              <img
                src="images/dota-logo2.jpg"
                class="img-fluid w-100 rounded-3"
                alt=""
              />
            </div>
          </div>
        </div>
      </div>

      <!--Main Content-->
      <div
        class="col-md-9 col-sm-12 d-flex flex-column align-items-center mx-sm-auto"
      >
        <div
          class="shadow-lg rounded-3 p-3 mb-2 bg-opacity-75 bg-gradient bg-black text-white w-100 d-flex flex-column align-items-center"
        >
          <h1>Welcome to DOTA LEAGUE!</h1>
          <p>
            Visit our Teams page to see what specialty teams you might want to
            join.
          </p>
          <p>Here are our scheduled game sessions</p>
          <p>All Event information is found on this website</p>
        </div>
        <div
          class="shadow-lg rounded-3 w-100 p-3 my-2 bg-black bg-gradient bg-opacity-75 d-flex flex-row justify-content-center"
        >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/jHyrFF2x1OM?autoplay=1&origin=http://example.com"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div
          class="shadow-lg rounded-3 w-100 p-3 my-2 bg-black bg-gradient bg-opacity-75 d-flex flex-row justify-content-center"
        >
          <iframe
            width="560"
            height="315"
            src="https://www.youtube.com/embed/67WhFq3RBsA?autoplay=1&origin=http://example.com"
            title="YouTube video player"
            frameborder="0"
            allow="accelerometer;  clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen
          ></iframe>
        </div>
        <div
          class="shadow-lg rounded-3 p-3 mt-2 bg-black bg-gradient bg-opacity-75 text-white"
        >
          <h2>DOTA2 LEAGUE RULES</h2>

          <ul>
            <li>
              Sportsmanship is of the utmost importance, we are all here to have
              fun and enjoy grilling, do not ruin it for others.
            </li>
            <li>
              Inappropriate language is not tolerated! this includes what is
              said in chat, and what is said to other participants outside of
              the game.
            </li>
            <li>
              If you signed up and are scheduled to play in a Tournament you
              must show.
            </li>
          </ul>
        </div>
      </div>
      <!--col-9-->
    </div>
  </main>
</div>
<!--homePage-->
