         <!--Team Page Content-->
         <!--<div id="teamPage" class="tab-pane col-12">-->
          <div class="container-fluid">
            <div class="row g-3 py-3">
              <!--ASIDE SCHEDULE COL-->
              <div class="col-xl-3 col-md-12 ">
                  <div class="aside p-3 g-black bg-gradient bg-opacity-75 text-white table-responsive">
                    <h2>LATEST RESULTS</h2>
                    <table class="table table-dark table-hover">
                      <thead>
                        <tr>
                          <th class="bg-black bg-gradient" scope="col">Team Name</th>
                          <th class="bg-black bg-gradient" scope="col">Wins</th>
                          <th class="bg-black bg-gradient" scope="col">Loses</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th class="bg-black bg-opacity-50" scope="row">Face Less</th>
                          <td class="bg-black bg-opacity-50">10</td>
                          <td class="bg-black bg-opacity-50">1</td>
                        </tr>
                        <tr>
                          <th class="bg-black bg-opacity-50" scope="row">Team LGD</th>
                          <td class="bg-black bg-opacity-50">9</td>
                          <td class="bg-black bg-opacity-50">2</td>
                        </tr>
                        <tr>
                          <th class="bg-black bg-opacity-50" scope="row">Team Aster</th>
                          <td class="bg-black bg-opacity-50">7</td>
                          <td class="bg-black bg-opacity-50">4</td>
                        </tr>
                      </tbody>
                    </table>
                    <div class=" shadow-lg rounded-3 p-3 mb-3 bg-black bg-gradient bg-opacity-75 text-white">
                      <h2>Game INFORMATION</h2>
                      <p>Team Aster VS Team LGD</p>
                      <p>11am Oct 14,2022</p>
                    </div>
                  </div>
              </div>

              <!--TABLE WRAPPER/ TABLE COL-->
              <div class="col-xl-9 col-md-12">
                <div class="listContent shadow-lg bg-black bg-opacity-75 bg-gradient p-3">
                  <div class="row">
                    <!--TABLE WRAPPER-->
                    
                        <h1 class="w-50 text-white"> <%=viewModel.listTitle%> </h1>
                        <div class="d-flex m-2 w-50 justify-content-end">
                        <button id="addBtn" class="btn btn-primary d-grid pt-2" data-bs-toggle="modal" data-bs-target="#editModal"><i class="fa-solid fa-plus"></i></button>
                          <input id="searchInput" class="ms-3 me-3 w-100" placeholder="Search...">
                          <button id="clearSearch" class="btn btn-primary">Clear</button>
                        </div>
                      <!--TABLE-->
                      <div class="table-responsive-md">
                        <div id="<%=viewModel.alertContainerId%>" class="mt-2"></div>
                        <div id="tableContainer" class="mt-2">
                        </div>
                        <button id="resetView" class="btn btn-primary clear-search-btn ml-2">Reset View</button>
                      </div>
                  </div>
                </div>
            </div> <!--col-9-->
          </div>
        </div>
    <div class="modal" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false">
      <div class="modal-dialog">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title" id="modal-trash-title">Delete Item?</h4>
            <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
          </div>

          <!-- Modal body -->
          <div class="modal-body">
            This action cannot be undone!
          </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-danger" data-bs-dismiss="modal">No</button>
            <button id="yesButton" type="button" class="btn btn-primary" data-bs-dismiss="modal">Yes</button>
          </div>

        </div>
      </div>
    </div>
  </div>
  <!--Modal-->
  <div class="modal" id="editModal" data-bs-backdrop="static" data-bs-keyboard="false">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Modal Header -->
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
        </div>

        <!-- Modal body -->
        <div class="modal-body" id="formContainer">
          
        </div>

       

      </div>
    </div>
  </div>


</div>