<nav
  class="navbar navbar-expand navbar-light shadow-lg bg-black bg-gradient bg-opacity-75 fixed-top"
>
  <div class="container-fluid">
    <a class="navbar-brand">
      <img id="logo" src="images/dota-logo.png" width="50" alt="" />
    </a>
    <ul class="nav nav-pills">
      <li class="nav-item">
        <a id="navButton1" class="nav-link active" href="#home"
          ><strong>HOME</strong></a
        >
      </li>
      <li class="nav-item">
        <a id="navButton2" class="nav-link" href="#teams"
          ><strong>TEAMS</strong></a
        >
      </li>
    </ul>
  </div>
</nav>
