<nav class="navbar navbar-expand fixed-top">
    <div class="container-fluid  justify-content-start">
     
        <a class="navbar-brand text-white">
          <h2 class="d-inline">
            <img id="logo" src="images/favicon_drawing.png" width="50" height="50" alt="">
          </h2>
        </a>
        <div class="nav-content">
        <ul class="nav nav-pills">
          <li class="nav-item">
            <a id="navButton1" class="nav-link active" href="#home"><strong>HOME</strong></a>
          </li>
          <li class="nav-item">
            <a id="navButton2" class="nav-link" href="#teams"><strong>TEAMS</strong></a>
        <!--<a id="navButton2" class="nav-link" data-bs-toggle="pill" href="#/teams"><strong>TEAMS</strong></a>-->  
        </li>
        </ul>
      </div>
        <h4 class="league-name fw-bold">RMWLL</h4>
    </nav>